body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /*
    Ocupa somente a área do elemento dentro da <div>
    display: inline-grid;
    */

    /* Informa que layout vai ser em formato de grade */
    display: grid;
    
    /* Quantidade de Colunas no Grid*/
    grid-template-columns: auto 150px auto;

    /* Tamanho das Linhas no Grid*/
    grid-template-rows: 30px auto 40px;
}
.item{
    background-color: #048;
    color: #fff;
    border: 1px solid black;
    text-align: center;
}
/* Gap
    Coloca espaçamento entre as linhas e colunas
*/
.espacamento{   
    grid-row-gap: 2px;
    grid-column-gap: 5px;
    
    /*
    Espacamentos iguais nas linhas e nas colunas
    grid-gap: 10px;
    
    Espacamento na linha e na coluna
    grid-gap: 2px 10px;
    */
}

/* grid-column e grid-row
    Configura a posição inicial e final das linhas e colunas no grid.
    Não é propriedade inclusiva, ou seja, vai até o valor informado mas não inclui o valor final.
    span - Informando a propriedade span no elemento, o valor inclui o valor final.
*/
.posicao1{
    /* Não incluir o valor final informado */
    /*grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3; */

    /* Pode ser declarado com span, onde a linha ou coluna inclui o valor final informado */
    grid-column: 1 / span 2;
    /*grid-row: 1 / span 2;*/   
}
.posicao2{
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;
}